<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <h1>hola desde de saludo_desde_templates para {{nombre}}</h1>
    <h3>{{nombre}} - {{edad}} - {{usa_lentes}} -{{lista}} </h3>
    <h3> {{lista_frutas}}</h3>

{% for fruta in lista_frutas %}

{% if fruta == 'manzana' %}
<p style="color: red">{{fruta}}</p>

{% elif fruta == 'pera' %}
<p style="color: rgb(0, 255, 51)">{{fruta}}</p>

{% elif fruta == 'banana' %}
<p style="color: rgb(229, 255, 0)">{{fruta}}</p>

{% elif fruta == 'naranja' %}
<p style="color: orange">{{fruta}}</p>

{% endif %}
{% endfor %}


</body>
</html>