{% extends 'base.html' %}

{% block title %}
    Listado de proveedores
{% endblock %}

{% block content %}

    <h1>Hola desde el template de listado de proveedores</h1>
    <h2>Crear proveedor </h2> <a href="/providers/provider-create/" class="btn btn-primary">Crear</a>

    {% for provider in object_list %}


        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
            <h5 class="card-title">{{provider.name}}</h5>
            <p class="card-text">Direccion: {{provider.address}}</p>
            <p>Telefono: {{provider.phone_number}}</p>
            <a href="/providers/provider-update/{{provider.id}}/" class="btn btn-primary">Actualizar</a>
            <a href="/providers/provider-delete/{{provider.id}}/" class="btn btn-danger">Borrar</a>

        </div>
        </div>



    {% endfor %}

{% endblock %}